body{
  padding: 0;
  margin: 0;
}

div{
  box-sizing: border-box;
}

.wrap{
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #000;
  margin: 0 auto;
  overflow: hidden;
}

.wrap .round{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1;
  background-color: green;
  border-radius: 50%;
}

.wrap .food{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 2;
  background-color: yellow;
  border-radius: 50%;
}

.wrap .round.head{
  background-color: red;
}

.dir-wrap{
  position: relative;
  width: 150px;
  height: 150px;
  margin: 10px auto;
}

.dir-wrap .dir-btn{
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid #424242;
  text-align: center;
  line-height: 50px;
}

.dir-wrap .top-btn{
  top: 0;
  left: 50px;
}

.dir-wrap .bottom-btn{
  top: 100px;
  left: 50px;
}

.dir-wrap .left-btn{
  top: 50px;
  left: 0;
}

.dir-wrap .right-btn{
  top: 50px;
  left: 100px;
}